/* CSS for Forum Archive Question/Answer Delivery*/

body {
    background: #ebdbdb;
}

article
{
    padding:5px;
    border:dotted 3px #ff006e;
    margin-top:5px;
}

header
{
    padding: 0px;
    text-align: left;
}

aside
{
    float: right;
    min-width: 150px;
    width: 10%;
    color: white;
    background: #009933;
    padding: 3px;
}


question-section
{
    padding:5px;
    margin-top:5px;
  	width: 88%;
  	float: left;
    color: white;
    background: #008080; /* Light green */
}

answer-section
{
    padding:5px;
    margin-top:5px;
    margin-bottom: 15px;
  	width: 88%;
  	float: left;
    color: black;
    background: #90e4e4  /* Slightly darker green */
}

footer
{
    padding:5px;
    text-align:center;
}

