/* CSS for Forum Archive Question/Answer Delivery*/

body
{
    background: #808080;
}

.title {
    text-align: center;
    font-size: 150%;
    color: white;
}

.feedback_email {
    float: right;
    color: white;
    font-size: 50%;
    padding: 5px;
    text-align: center;
    background: #752020;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 4px;
}

.feedback_email a {
    color: white;
    font-style: italic;
}


article
{
    padding:5px;
    border:dotted 3px #ff006e;
    margin-top:5px;
}

header
{
    padding: 0px;
    text-align: left;
}

aside
{
    float: right;
    min-width: 150px;
    width: 7%;
    color: white;
    background: #752020;    
    padding: 10px;
    border-radius: 20px;
}


h1 {
    margin-left: 30px;
}

p.question-answer-text
{
    padding-bottom: 20px;
    width: 90%;
    margin: auto;
    font-size: 90%;
}

question-section
{
    padding:5px;
    margin-top: 5px;
  	width: 88%;
  	float: left;
    color: white;
    /* background: #008080; */ /* Light green */
    background: #514c4c;
    border-radius: 20px;
}

answer-section
{
    padding:5px;
    margin-top:5px;
    margin-bottom: 15px;
  	width: 88%;
  	float: left;
    color: black;
    /* background: #90e4e4 */ /* Slightly darker green */
    background: #ebdbdb;
    border-radius: 20px;    
}

footer
{
    padding:5px;
    text-align:center;
}

